<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>45413334600-jjut1e031gaba4iuaadt18jespbf6qtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45413334600-jjut1e031gaba4iuaadt18jespbf6qtv</string>
	<key>API_KEY</key>
	<string>AIzaSyB6mLezH0oaBG6OfKs7NV_26uUOUPQzOQw</string>
	<key>GCM_SENDER_ID</key>
	<string>45413334600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chattytalk</string>
	<key>PROJECT_ID</key>
	<string>chattytalk-2bfa9</string>
	<key>STORAGE_BUCKET</key>
	<string>chattytalk-2bfa9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45413334600:ios:f51064c51863390c39a27d</string>
</dict>
</plist>